<div class="dice" style="font-weight: 900; font-size: 2rem;" [@rotateAnimation]="rotateState">{{diceNumber}}</div>
<div [innerHTML]="msg" class="msg"></div>
<div class="board">
  <div *ngFor="let cell of cells" class="cell" style="font-weight: 500; font-size: 1rem;">
    <!-- {{ playerPosition === cell ? "" : cell }} -->
    {{ !isExists(cell) && !isSnakeorLadderExists(cell) ? cell : "" }}
    <!-- <div *ngIf="playerPosition === cell" class="player">{{ players[currentPlayer] }}</div> -->
    <!-- <div *ngIf="isExists(cell) !== ''" [class]="isExists(cell)">{{ isExists(cell) }}</div> -->
    <div *ngIf="isExists(cell)" class="cell">
      <div style="position: absolute;">

        <div *ngFor="let player of getPlayerImg(cell)">
          <div [style]="player.style">
            <img [src]="player.img" style="height: 100%;" alt="image">
          </div>
        </div>
        
      </div>
    </div>

    <div *ngIf="isSnakeorLadderExists(cell)" class="cell">
      <div style="position: absolute">
        <img [src]="getSnakeOrLadder(cell).img" class="currentPlayer" style="height: 45px; width: 45px;" alt="image">
        <span [style]="getSnakeOrLadder(cell).style">{{ getSnakeOrLadder(cell).value }}</span>
      </div>
    </div>

  </div>
  
  <button class="rotate" (click)="rollDice();rotate();ref.play()" [disabled]="diceRolled">{{diceRolled ? "rolling" : "Roll
    Dice"}}</button>
  <div [class]="getCurrentPlayerClass(1)">P1</div>
  <div [class]="getCurrentPlayerClass(2)">P2</div>
  <div [class]="getCurrentPlayerClass(3)">P3</div>
  <div [class]="getCurrentPlayerClass(4)">P4</div>
  <audio #ref src="../assets/dice-sound.mp3"></audio>
</div>